
.DS_Store
beta version 0.1/css/style.css
beta version 0.1/img/face.jpg
beta version 0.1/img/icons8-email-filled-50.png
beta version 0.1/img/icons8-facebook-circled-filled-50.png
beta version 0.1/img/icons8-github-filled-50.png
beta version 0.1/img/icons8-instagram-filled-50.png
beta version 0.1/img/icons8-linkedin-circled-filled-50.png
beta version 0.1/img/icons8-twitter-circled-filled-50.png
beta version 0.1/img/sunset.jpg
beta version 0.1/index.html
tahoe example/arrow.svg
tahoe example/tahoe index.html
tahoe example/tahoe styles.css
portfolio/projects/treehouse-project-1/
Working Bug Checklist for f17.docx
